{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "singleQuote": false,
    "trailingComma": "all",
    "semi": true,
    "printWidth": 105,
    "tabWidth": 2
}
